<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EmpDMLProject</display-name>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>com.sist.emp.EmpListServlet</servlet-class>
  </servlet>
  <!-- 톰캣이 읽어가는 파일 -->
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/EmpListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert</servlet-name>
    <servlet-class>com.sist.emp.InsertServlet</servlet-class>
  </servlet>
  <!-- 톰캣이 읽어가는 파일 -->
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>